{% extends 'base.html.twig' %}

{% block title %}Lista de Empleados{% endblock %}

{% block body %}
    <h1>Lista de Empleados</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Identificación</th>
                <th>Cargo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for employee in employees %}
            <tr>
                <td>{{ employee.id }}</td>
                <td>{{ employee.name }}</td>
                <td>{{ employee.lastname }}</td>
                <td>{{ employee.identification }}</td>
                <td>{{ employee.position }}</td>
                <td>
                    <a href="{{ path('employee_show', {'id': employee.id}) }}">Ver</a>
                    <a href="{{ path('employee_edit', {'id': employee.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('employee_new') }}">Nuevo Empleado</a>
{% endblock %}
